* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 2rem;
}


/* header section */
header .header-divider {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #a8dfff;
}

header .auxiliary-btn {
    width: 6rem;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    background: rgb(16, 144, 216);
    color: #fff;
}
/* header section */

/* main section */
section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

section .main-cards {
    display: flex;
    gap: 1rem;
}
section .main-cards .first {
    width: 18rem;
    height: 24rem;
    border-radius: 0.5rem;
    background: rgb(251, 188, 237);
}

section .auxiliary-card {
    width: 27rem;
    height: 28rem;
    border: 1px solid rgb(16, 144, 216);
    border-radius: 0.5rem;
}
/* main section */